<h3>Listing groups</h3>

<div id="groups">
  <%= render :partial => 'grouptable' %>
</div>

<br />
<%= jquery_ui_button_icon("Delete Selected Group(s)", "ui-icon-circle-close", "delete_groups").html_safe %>
<a href="<%= new_group_path %>"><%= jquery_ui_button_icon("New Group", "ui-icon-plusthick", "newgroup").html_safe %></a>
