<h1>Listing groups</h1>

<div id="groups">
  <%= render :partial => 'grouptable' %>
</div>

<br />
<a href="#" id="delete_groups">Delete Selected Group(s)</a> |
<%= link_to 'New Group', new_group_path %>
