<script type="text/javascript">
  $(document).ready(function() {
    $("#songtable").dataTable({
                                "bProcessing"     : true,
                                "bJQueryUI"       : true,
                                "bAutoWidth"      : false,
                                "sPaginationType" : "full_numbers",
                                "aoColumn"        : [{"bSortable":false}, null, null, null, null],
                                "aaSorting"       : [[1, 'asc']],
                                "bServerSide"     : true,
                                "sAjaxSource"     : "/songs/datatable.json" }).fnSetFilteringDelay();
  });
</script>

<h3>Master Song List</h3>

<table id="songtable" class="display">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Duration</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<br/>
<a href="<%= new_song_path %>"><%= jquery_ui_button_icon("New Song", "ui-icon-plusthick", "newsong").html_safe %></a>
