<% @playlists.each do |playlist| %>
  <b>Playlist for <%= playlist.group.name %> on <%= playlist.date %></b><br/>
  <div>
    <%= render :partial => 'songslist', :locals => {:songslist => playlist.content_hash, :date => playlist.date} %>
  </div>
  <br/>
<% end %>