<p id="notice"><%= notice %></p>

<p>
  <b>Group:</b>
  <%= @playlist.group_id %>
</p>

<p>
  <b>Date:</b>
  <%= @playlist.date %>
</p>

<div>
  <%= render :partial => 'songslist', :locals => {:songslist => @playlist.content_hash, :date => @playlist.date} %>
</div>
