<h1>Listing locations</h1>

<div id="locations">
  <%= render :partial => 'locationtable' %>
</div>

<br />
<a href="#" id="delete_locations">Delete Selected Location(s)</a> |
<%= link_to 'New Location', new_location_path %>
