<h3>Listing locations</h3>

<div id="locations">
  <%= render :partial => 'locationtable' %>
</div>

<br />
<%= jquery_ui_button_icon("Delete Selected Location(s)", "ui-icon-circle-close", "delete_locations").html_safe %>
<a href="<%= new_location_path %>"><%= jquery_ui_button_icon("New Location", "ui-icon-plusthick", "newlocation").html_safe %></a>
